<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <button mat-stroked-button color="primary">
          <a routerLink="/assignment/list">Assignment List</a>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button color="primary">
          <a routerLink="/assignment/add">Add assignment</a>
        </button>
      </mat-list-item>
      <!-- <mat-list-item>
        <button mat-stroked-button class="btnAjout" color="primary">
          <a routerLink="/assignment/{{ a.id }}"> Edit assignment</a>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button color="primary">
          <a routerLink="/assignment/{{ a.id }}">Delete assignment</a>
        </button>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
