form {
  background-color: #ffffff; /* Dark blue */
  color: #00008b; /* White */
  padding: 20px;
}

input,
button {
  background-color: #ffffff; /* White */
  color: #00008b; /* Dark blue */
  border: 2px solid #40e0d0; /* Turquoise */
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #40e0d0; /* Turquoise */
  color: #ffffff; /* White */
  cursor: pointer;
}

button:hover {
  background-color: #ffffff; /* White */
  color: #00008b; /* Dark blue */
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}
