<div class="container" *ngIf="assignment">
  <h1>Editing {{ assignment.name }}</h1>
  <form
    ngForm
    class="form"
    #formupdate
    (submit)="onSaveAssignment(); formupdate.reset()"
  >
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Editing name"
          [(ngModel)]="AName"
          name="assignment-name"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Editing due date"
          [(ngModel)]="dueDate"
          name="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary">Save</button>
    </p>
  </form>
</div>
