<h3>Liste des devoirs :</h3>
<div>
  <mat-list *ngFor="let a of assignments">
    <nav>
      <a>
        {{ a.name }}
        <h3 mat-subheader>{{ a.dueDate | date }}</h3>
        <mat-list-item
          (click)="assignmentClique(a)"
          (click)="detailsAssignment(a)"
        >
          <p *ngIf="a.submitted" appsubmitted>{{ a.name }} was submitted.</p>
          <p *ngIf="!a.submitted" appNonsubmitted>
            {{ a.name }}, Has not been submitted.
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </nav>
  </mat-list>
</div>
